.nav-container {
  position: absolute;
  height: 70px;
  width: 100%;
  margin: auto;
  top: 0px;
}

.logo-icon-container {
  width: 200px !important;
}

nav {
  color: white;
}

.icon {
  color: orange;
  font-size: 25px;
  cursor: pointer;
}

.list {
  border-radius: 25px;
}

nav ul {
  list-style: none;
  width: 50%;
  transition: all 0.6s linear;
  background-color: rgba(255, 166, 0, 0.781);
  border-radius: 25px;
  padding: 5px 40px;
}

li {
  cursor: pointer;
}

@media only screen and (max-width: 999px) {
  ul {
    width: 100% !important;
    font-size: 13px;
    padding: 5px !important;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around !important;
    align-items: center;
    height: 80px;
    margin-top: 15px;
  }
  ul {
    width: 100% !important;
    font-size: 17px;
    padding: 8px 10px !important;
  }
}

@media only screen and (max-width: 425px) {
  ul {
    font-size: 12px;
    padding: 5px 10px !important;
  }
}
